<h2>
  <%= @shipping_company.name %>
  <br>
  <span style='font-size: 0.7em'>— Informações para cálculo de tarifas</span>
</h2>

<dl>
  <dt>Fator para cálculo de peso cubado</dt>
  <dd><%= number_with_precision(@shipping_company.cubic_weight_const, precision: 0) %> kg/m³</dd>

  <dt>Valor mínimo</dt>
  <dd><%= number_to_currency(@shipping_company.min_fee) %></dd>
  <%# TODO values in BRL should be in BRL even if locale = en %>
</dl>

<% unless @fees.empty? %>
  <table>
    <caption>Tabela de tarifas</caption>
    <tr>
      <th>peso</th>
      <th>preço</th>
    </tr>
    <% @fees.each do |tier| %>
      <tr>
        <td>
          até 
          <% if tier.max_weight_in_kg < 1 %> 
            <%= number_with_precision(tier.max_weight_in_kg, precision: 1) %>
          <% else %>
            <%= number_with_precision(tier.max_weight_in_kg, precision: 0) %>
          <% end %>
          kg
        </td>
        <td><%= number_to_currency(tier.cost_per_km_in_cents.to_f / 100) %> / km </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% unless @times.empty? %>
  <table>
    <caption>Tabela de prazos</caption>
    <tr>
      <th>distância</th>
      <th>tempo</th>
    </tr>
    <% @times.each do |tier| %>
      <tr>
        <td>
          <%= "até #{number_with_precision(tier.max_distance_in_km, precision: 0)} km" %>
        </td>
        <td>
          <%= number_with_precision(tier.delivery_time_in_buss_days, precision: 0) %>
          <%= t('.business_days', count: tier.delivery_time_in_buss_days) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>