<h1><%= @shipping_co.name.titleize %></h1>

<section>
  <dl>
    <dt><%= ShippingCompany.human_attribute_name('status').capitalize %></dt>
    <dd><%= ShippingCompany.human_attribute_name("status.#{@shipping_co.status}").capitalize %></dd>

    <dt><%= ShippingCompany.human_attribute_name('name').capitalize %></dt>
    <dd><%= @shipping_co.name %></dd>

    <dt><%= ShippingCompany.human_attribute_name('legal_name').capitalize %></dt>
    <dd><%= @shipping_co.legal_name %></dd>

    <dt><%= ShippingCompany.human_attribute_name('cnpj').upcase %></dt>
    <dd><%= @shipping_co.cnpj.to_s.insert(5,'.').insert(2,'.').insert(-7,'/').insert(-3,'-') %></dd>

    <dt><%= ShippingCompany.human_attribute_name('email_domain').capitalize %></dt>
    <dd><%= @shipping_co.email_domain %></dd>

    <dt><%= ShippingCompany.human_attribute_name('billing_address').capitalize %></dt>
    <dd><%= @shipping_co.billing_address %></dd>
  </dl>
  <%= link_to 'Voltar', shipping_companies_path %>
  <%= button_to 'Apagar', fake_delete_shipping_company_path(@shipping_co) %>
  <%= link_to 'Editar', edit_shipping_company_path %>
</section>