<%= link_to t('.new_outpost'), new_shipping_company_outpost_path({ page_of_origin: request.path, shipping_company_id: @service_order.shipping_company.id }) %>

<div id='outposts_container'>
  <% if @outposts.nil? %>
    <%= t('.no_outposts') %>
  <% else %>
    <% @outposts.each do |outpost| %>
      <%= button_to add_step_to_delivery_path, params: { outpost_id: outpost.id, delivery_id: @service_order.delivery.id } do %>
        <div class="outpost_card">
          <figure style="text-align: center;">
            <%= image_tag('outposts/1.png', size: "50", alt: "") %>
          </figure>
          <figcaption>
            <b><%= "#{outpost.name} - #{outpost.city_state}" %></b>
            <br><%= outpost.category %>
          </figcaption>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @service_order.delivery && @service_order.delivery.stages.any? %>
  <div>
    <table>
      <caption><%= "#{t('.delivery_details')} (código de rastreio: #{@service_order.delivery.tracking_code})" %></caption>
      <tr>
        <th><%= t('.date') %></th>
        <th><%= t('.place') %></th>
      </tr>
      <%  @service_order.delivery.stages.each do |stage| %>
      <tr>
        <td><%= stage.when %></td>
        <td><%= "#{stage.outpost.name} - #{stage.outpost.city_state}" %></td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>