<div class='quotes'>
  <b>Orçamentos</b><br>
  <%= button_to "Obter #{"novos " if @quotes.any?}orçamentos", obtain_quotes_service_order_path %>
  <% if @quotes.empty? %>
    Nenhum orçamento feito até agora.
  <% elsif @quotes.map{ |q| q.is_valid }.all?(false) %>
    <b>Orçamentos</b><br>
    <span class='alert'>Nenhuma transportadora ativa oferece serviços compatíveis.</span>
  <% else %>
    <table>
      <tr>
        <th>empresa</th>
        <th>preço</th>
        <th>prazo</th>
      </tr>
      <% @quotes.each do |q| %>
        <%= next if q.is_valid == false %>
        <tr>
          <td><%= q.shipping_company.name %></td>
          <td><%= number_to_currency(q.fee) %></td>
          <td><%= "#{q.delivery_time} #{t('.business_days', count: q.delivery_time)}" %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>