<div class='quotes'>
  <b>Orçamentos</b><br>
  <%= button_to "Obter #{"novos " if @quotes.any?}orçamentos", obtain_quotes_service_order_path %>
  <% if @quotes.empty? %>
    Nenhum orçamento feito até agora.
  <% elsif @quotes.map{ |q| q.is_valid }.all?(false) %>
    <b>Orçamentos</b><br>
    <span class='alert'>Nenhuma transportadora ativa oferece serviços compatíveis.</span>
  <% else %>
    <table>
      <tr>
        <th>empresa</th>
        <th>preço</th>
        <th>prazo</th>
        <th></th>
      </tr>
      <% @quotes.each do |quote| %>
        <%= next if quote.is_valid == false %>
        <tr data-carrier='<%= quote.shipping_company.id %>'>
          <td><%= quote.shipping_company.name %></td>
          <td><%= number_to_currency(quote.fee) %></td>
          <td><%= "#{quote.delivery_time} #{t('.business_days', count: quote.delivery_time)}" %></td>
          <td>
            <% if @service_order.unassigned? %>
              <%= button_to 'escolher', attribute_to_carrier_service_order_path, params: { carrier: quote.shipping_company.id } %>
            <% elsif quote.shipping_company == @service_order.shipping_company %>
              <div class='order_status'><%= ServiceOrder.human_attribute_name("status.#{@service_order.status}") %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>