<h1><%= "Ordem de serviço nº #{@service_order.id}" %></h1>

<% unless current_user.admin? %>
  <div class='winning_quote'>
    <% if @service_order.pending? %>
      <%= button_to 'rejeitar', update_status_service_order_path, params: { status: 'rejected'} %>
      <%= button_to 'aceitar', update_status_service_order_path, params: { status: 'accepted'} %>
    <% else %>
      <div class='order_status' style='font-size: 1rem; width: auto'>
        <%= ServiceOrder.human_attribute_name("status.#{@service_order.status}") %>
      </div>
    <% end %>
    <table>
      <tr>
        <th>Valor do serviço</th>
        <th>Prazo de entrega</th>
      </tr>
      <tr>
        <td><%= number_to_currency(@winning_quote.fee) %></td>
        <td><%= "#{@winning_quote.delivery_time} #{t('.business_days', count: @winning_quote.delivery_time)}" %></td>
      </tr>
    </table>
  </div>
<% end %>



<div class='package_details'>
  <dl>
    <dt>Dimensões</dt>
    <dd><%= "#{@measures[0]} x #{@measures[1]} x #{@measures[2]} cm" %></dd>

    <dt>Volume cúbico</dt>
    <dd><%= "#{@package.volume_in_m3} m³" %></dd>

    <dt>Peso</dt>
    <% if @package.weight_in_g < 1000 %>
      <dd><%= "#{@package.weight_in_g} g" %></dd>
    <% else %>
      <dd><%= "#{ number_with_delimiter(@package.weight_in_g.to_f/1000) } kg" %></dd>
    <% end %>

    <dt>Endereço de retirada</dt>
    <dd><%= @package.pickup_address %></dd>

    <dt>Dados para entrega</dt>
    <dd>
      <%= "#{@package.delivery_recipient_name} - #{@package.delivery_recipient_phone}" %>
      <br>
      <%= @package.delivery_address %>
    </dd>

    <dt>Distância</dt>
    <dd><%= "#{@package.distance_in_km} km" %></dd>
  </dl>
</div>

<%= render 'delivery' if !current_user.admin? && @service_order.status == 'accepted'  %> 
<%= render 'quotes' if current_user.admin? %> 
