<h1><%= t('.title', number: @service_order.id) %></h1>

<% unless current_user.admin? %>
  <div class='winning_quote'>
    <% if @service_order.pending? %>
      <%= button_to t('.reject'), update_status_service_order_path, params: { status: 'rejected'} %>
      <%= button_to t('.accept'), update_status_service_order_path, params: { status: 'accepted'} %>
    <% else %>
      <div class='order_status' style='font-size: 1rem; width: auto'>
        <%= ServiceOrder.human_attribute_name("status.#{@service_order.status}") %>
      </div>
    <% end %>
    <table>
      <tr>
        <th><%= t('.fee') %></th>
        <th><%= t('.delivery_time') %></th>
      </tr>
      <tr>
        <% if @winning_quote.present? %>
          <td><%= number_to_currency(@winning_quote.fee) %></td>
          <td><%= "#{@winning_quote.delivery_time} #{t('.business_days', count: @winning_quote.delivery_time)}" %></td>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>

<div class='package_details'>
  <dl>
    <dt><%= t('.measures') %></dt>
    <dd><%= "#{@measures[0]} x #{@measures[1]} x #{@measures[2]} cm" %></dd>

    <dt><%= t('.cubic_volume') %></dt>
    <dd><%= "#{@package.volume_in_m3} m³" %></dd>

    <dt><%= t('.weight') %></dt>
    <% if @package.weight_in_g < 1000 %>
      <dd><%= "#{@package.weight_in_g} g" %></dd>
    <% else %>
      <dd><%= "#{ number_with_delimiter(@package.weight_in_g.to_f/1000) } kg" %></dd>
    <% end %>

    <dt><%= t('.pickup_address') %></dt>
    <dd><%= @package.pickup_address %></dd>

    <dt><%= t('.delivery_details') %></dt>
    <dd>
      <%= "#{@package.delivery_recipient_name} - #{@package.delivery_recipient_phone}" %>
      <br>
      <%= @package.delivery_address %>
    </dd>

    <dt><%= t('.distance') %></dt>
    <dd><%= "#{@package.distance_in_km} km" %></dd>
  </dl>
</div>

<%= render 'delivery' if !current_user.admin? && (@service_order.accepted? || @service_order.delivered?)  %> 
<%= render 'quotes' if current_user.admin? %> 
