<h2><%= t('.title').titleize %></h2>

<%= link_to t('.new_outpost'), new_shipping_company_outpost_path %>

<div id='outposts_container'>
  <% if @outposts.empty? %>
    <%= t('.no_outposts') %>
  <% else %>
    <% @outposts.each do |outpost| %>
      <div class="outposts_card">
        <figure style="text-align: center;">
          <%= image_tag('outposts/1.png', size: "50", alt: "#{t('.standard_icon_alt')}") %>
        </figure>
        <figcaption>
          <b><%= "#{outpost.name} - #{outpost.city_state}" %></b>
          <br><%= outpost.category %>
        </figcaption>
      </div>
    <% end %>
  <% end %>
</div>