<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <%# TODO bring content of partials back here %>
  <body>
    <header><div style='max-width: 45rem; margin: 0 auto'>
      <h1><%= link_to t('.app_name'), root_path %></h1>
      
      <div class='language_switcher'>
        <% if I18n.locale == :en %>
          <%= link_to 'pt-BR', current_user ? root_path(locale: 'pt-BR') : new_user_session_path(locale: 'pt-BR'), title: 'trocar para português' %>
        <% else %>
          <%= link_to 'en', current_user ? root_path(locale: 'en') : new_user_session_path(locale: 'en'), title: 'switch to English' %>
        <% end %>
      </div>
    </div></header>

    <nav> 
      <%= current_user.admin ? render('layouts/admin_navbar') : render('layouts/user_navbar') if current_user %> 
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= button_to t('devise.shared.links.log_out'), destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>

    <% flash.each do |type, message| %> 
      <%= content_tag :div, message, class: type %> 
    <% end %> 

    <%= yield %>
  </body>
</html>
