<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <div style='max-width: 45rem; margin: 0 auto'>
        <h1><%= link_to t('.app_name'), root_path %></h1>
        
        <div class='language_switcher'>
          <% if I18n.locale == :en %>
            <%= link_to 'pt-BR', request.path.concat('?locale=pt-BR'), title: 'trocar para português' %>
          <% else %>
            <%= link_to 'en', request.path.concat('?locale=en'), title: 'switch to English' %>
          <% end %>
        </div>
      </div>
    </header>

    <nav> 
      <% if current_user %>
        <% if current_user.admin %>
          <%= link_to t('.shipping_companies'), shipping_companies_path %>
          <%= link_to t('.service_orders'), service_orders_path %>
        <% else %>
            <%= link_to t('.my_company'), current_user.shipping_company ? shipping_company_path(current_user.shipping_company) : '#' %>
            <%= link_to t('.my_service_orders'), service_orders_path %>
            <%= link_to t('.my_rates_and_times'), current_user.shipping_company ? shipping_company_shipping_rates_path(current_user.shipping_company) : '#' %>
            <%= link_to t('.my_distribution_points'), current_user.shipping_company ? shipping_company_outposts_path(current_user.shipping_company) : '#' %>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <%# TODO direct link below to the user profile page %>
        <%= link_to current_user.email, '' %>
        <%= button_to t('devise.shared.links.log_out'), destroy_user_session_path, method: :delete, form_class: 'login_form' %>
      <% end %>
    </nav>

    <% flash.each do |type, message| %> 
      <%= content_tag :div, message, class: type %> 
    <% end %> 

    <%= yield %>
  </body>
</html>
