<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <%# TODO bring content of partials back here %>
  <body>
    <header>
      <h1><%= link_to t('.app_name'), root_path %></h1>
    </header>

    <nav> 
      <%= current_user.admin ? render('layouts/admin_navbar') : render('layouts/user_navbar') if current_user %> 
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= button_to t('devise.shared.links.log_out'), destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>

    <% flash.each do |type, message| %> 
      <%= content_tag :div, message, class: type %> 
    <% end %> 

    <%= yield %>
  </body>
</html>
